body{
    padding: 100px;
}
.submit-area{
    padding: 40px;
    margin-top: 50px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px burlywood;
    
    

}
#transaction-area{
    display: none;
}